# Ignore Gradle project-specific cache directory
.gradle
gradle/wrapper/gradle-wrapper.jar
gradlew*

# Ignore Gradle build output directory
build
app/build

# app data files
app/data

# kotlin compiler session files
.kotlin